{% extends 'base.html' %}


{% block title %}
Department List
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="h1 text-center mt-4 mb-4">Department List</p>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Short Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <th scope="row">{{department.id}}</th>
                        <td>{{department.name}}</td>
                        <td>{{department.short_name}}</td>
                        <td>
                            <a href="{% url 'employee_app:employees_by_department' department.short_name %}"
                                class="btn btn-info ml-1 mb-1">See
                                Employees</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}