{% extends 'base.html' %}


{% block title %}
Employees List
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="container">
    <div class="row justify-content-around">
        <p class="h1 mt-4 text-center">Register an Employee</p>
        <form method="POST" class="col-8" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
</div>
{% endblock content %}