{% extends 'base.html' %}


{% block title %}
Página de inicio
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}

<div class="container">
    <div class="vh-100 row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Welcome to Employee Manager System</h1>
                        <p class="card-text">
                            This is a system to manager the employees of our company.

                            Be free to prove this system on your development environment and let me know how much it
                            liked to you
                        </p>

                </div>
                <div class="card-footer">
                    <p class="badge bg-dark text-light">🌻 This project was developed by
                        <a class="text-white" href="https://github.com/dabydat">dabydat</a>
                        in love 🌻
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}